<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" style="width: 100%;">
      <a class="navbar-brand" href="#">Migrate Stormpath Users to Auth0</a>
      <div class="pull-right">
        <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
        <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
      </div>
    </div>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>
